@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rojobrillante: rgb(242, 95, 58);
    --azuloscuro: rgb(35, 44, 81);
    --azulgrisáceooscuro: rgb(143, 148, 167);
    --azulmuyoscuro: rgb(29, 30, 37);
    --rojomuypálido: rgb(255, 239, 234);
    --variantegrisclaro: rgb(249, 249, 249);
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    height: 100vh;
    background-image: url(../img/bg-tablet-pattern.png);
    background-position: top right;
}

header {
    margin: 40px 80px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 40px 80px;
}

/*Barra de navegación*/

.logo {
    padding-top: 30px;
}

.navbar {
    padding-top: 20px;
}

.navbar ul li {
    padding: 15px;
}

.enlaces {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--azuloscuro);
}

a:hover {
    color: var(--azulgrisáceooscuro);
}

.hamburger{
    display: flex;
}

.boton1 {
    padding-top: 20px;
}

button {
    width: 134px;
    height: 44px;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    background-color: var(--rojobrillante);
    border-radius: 50px;
    border: var(--rojobrillante);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button:hover {
    background-color: rgb(247, 153, 130);
}

/*Sección1*/

.principal1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.principal1 .contenedor1 {
    width: 50%;
    padding-top: 150px;
}

.contenedor1 h1 {
    font-size: 50px;
    color: var(--azuloscuro);
    font-weight: 700;
}

p {
    padding-top: 28px;
    padding-bottom: 28px;
    color: var(--azulgrisáceooscuro);
}

.principal1 .contenedor2 {
    width: 50%;
    padding-top: 80px;
    padding-left: 70px;
}

.contenedor2 img {
    width: 500px;
}

/*Sección 2*/

.principal2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contenedor3 {
    width: 50%;
    padding-top: 100px;
}

h2 {
    font-size: 36px;
    color: var(--azuloscuro);
}

.contenedor4 {
    width: 45%;
    padding-top: 100px;
}

.contenedor4 .uno .dos .tres {
    width: 70px;
    height: 40px;
}

.contenedor4 h3 {
    width: 70px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--rojobrillante);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.contenedor4 .texto {
    padding-left: 60px;
    margin-top: -30px;
    margin-left: -60px;
}

.contenedor4 h4 {
    color: var(--azuloscuro);
    padding-left: 100px;
}

.contenedor4 p {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    color: var(--azulgrisáceooscuro);
}

/*Comentarios*/

#titulo {
    text-align: center;
    margin-top: 60px;
}

.comentarios {
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    height: 300px;
    margin: 15px;
    padding-top: 60px;
}

.descripcion {
    background-color: rgb(226, 230, 243);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.descripcion,
.nombre {
    text-align: center;
    color: var(--azuloscuro);
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 40px;

}

.avatar {
    position: absolute;
    text-align: center;
}

.avatar img {
    width: 70px;
    margin-left: 140px;
    padding-bottom: -100x;
}

.comentarios .boton {
    position: absolute;
    padding-top: 400px;
}

/*Contenedor naranja*/

.contenedorcontacto {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    margin-top: 250px;
    background-color: var(--rojobrillante);
}

.contenedorcontacto h2 {
    width: 80%;
    color: var(--variantegrisclaro);
    padding-top: 52px;
}

.contenedorcontacto button {
    background-color: #fff;
    color: var(--rojobrillante);
    margin-top: 70px;
}

.contenedorcontacto button:hover {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    color: rgb(247, 153, 130);
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: var(--azulmuyoscuro);
}

.logofooter {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.redes ul {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

nav.infofooter {
    display: flex;
    justify-content: space-between;
    width: 30%;
    line-height: 35px;
    margin-top: 30px;
    font-size: 14px;
}

.infofooter a {
    color: var(--variantegrisclaro);
}

.infofooter a:hover {
    color: var(--rojobrillante);
}

.buscador {
    margin-top: 30px;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: #fff;
    text-align: center;
}

form button {
    width: 70px;
    margin-left: 5px;
}

.buscador p {
    padding-top: 68px;
    font-size: 13px;
    color: var(--azulgrisáceooscuro);
    text-align: center;
}



/*Media Querie Mobile*/

@media (max-width: 768px){

    body{
        width: 100vw;
        height: 100vh;
    }

    header{
        flex-direction: column;
    }

    nav ul a{
        display: none;
    }

    .navbar img{
        width: 30px;
        height: 30px;
    }

    .hamburger{
        justify-content: flex-end;
        margin-top: -80px;
    }

    .boton1 {
        display:none;
    }

    .logo img{
        width: 150px;
        margin-left: -50px;
    }

    .principal1{
        display:flex;
        flex-direction: column;
    }

    .contenedor1 h1{
        font-size:40px;
        width: 100%;
    }

    .contenedor1 p{
        display: none;
    }

    .contenedor2{
        order: -1;
        margin-left: -30%;
    }



}

/*Media Querie Desktop*/
@media (min-width: 768px){

    body{
        width: 100vw;
        height: 100vh;
    }

    .navbar img{
        display: none;
    }


}
